<div class="container-fluid" style="
height: 25vh;
background-color: rgb(238, 238, 238);
">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 style="font-size: 5rem; padding-top: 50px;">
          {{ title }}
        </h1>
        <span class="lead">{{ subtitle }}</span>
      </div>
      <div class="col text-right">
        <button *ngIf="button === 'logout' else button === 'login'" type="button" style="margin-top: 30px;" class="btn btn-danger"
          (click)='onLogout()'>
          <fa-icon [icon]="faSignOutAlt"></fa-icon>
          logout
        </button>
        <button *ngIf="button === 'view-cart'" type="button" style="margin-top: 30px;" class="btn btn-light">
          <a routerLink="/cart">
            <fa-icon [icon]="faShoppingCart"></fa-icon>
            View cart
          </a>
        </button>

      </div>
    </div>
  </div>
</div>
<br />
