<app-header title="Products" subtitle="More infomation" button=""></app-header>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-5">
                <img src="https://picsum.photos/200/300" alt="test" style="width: 100%; height: 50%;" />
            </div>
            <div class="col-5">
                <h4>Iphone X</h4>
                <p class="text-justify">
                    A smartphone is a handhled personal computer with a mobile operating system and an integrated mobile
                    broadband
                    cellular network connection for voice, SMS, and internet data communication; most, if not all,
                    smartphones also
                    support Wi-Fi
                </p>
                <div class="row">
                    <p class="col-sm-2" style="font-weight: bold;">
                        Item Code:
                    </p>
                    <p class="text-white bg-warning col-sm-2" style="font-size: small; align-self: center;">
                        1526440382825
                    </p>
                </div>
                <div class="row">
                    <p class="col-sm-2" style="font-weight: bold;">
                        Manufacturer:
                    </p>
                    <p class="col-sm-2">
                        Apple
                    </p>
                </div>
                <div class="row">
                    <p class="col-sm-2" style="font-weight: bold;">
                        Category:
                    </p>
                    <p class="col-sm-2">
                       <a href="#">Apple</a>
                    </p>
                </div>
                <div class="row">
                    <p class="col-sm-2" style="font-weight: bold;">
                        Availble units in stock:
                    </p>
                    <p style="align-self: flex-end;" class="col-sm-2">
                       800
                    </p>
                </div>
                <label for="" style="font-size: xx-large;">
                    1099 USD
                </label>
                <div class="row col-sm-5">
                    <button type="submit" class="btn btn-success mx-1 text-white"><i class="fas fa-arrow-circle-left"></i>back</button>
                    <button type="submit" class="btn btn-warning mx-1 text-white">Orther Now</button>
                </div>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
</main>