<app-header title="Mobile Store" subtitle="All available Products in our store" btnlogout="" btnlogin="login" button="view-cart" count={{totalProducts}}></app-header>
<!-- <app-upload-image></app-upload-image> -->
<div class="container-fuild">
    <div class="row">
        <div *ngFor="let data of listProduct;" class="col-3 d-flex justify-content-center">
            <div class="card" style="width: 18em;">
                <div class="card-body">
                    <h5 class="card-title">{{data.productName}}</h5>
                    <img src="data:image/gif;base64,{{data.imgCode}}" alt="test">
                    <p></p>
                    <h6 class="card-subtitle mb-2 text-muted">{{data.description}}</h6> 
                    <p class="money">{{data.unitPrice}} USD</p>
                    <button (click)="detailsProduct(data)" class="card-link btn btn-primary">
                        <fa-icon [icon]="faInfoCircle"></fa-icon>
                        Detail
                    </button>
                    <button (click)="addProductToCart(data)" class="card-link btn btn-warning">
                        <fa-icon [icon]="faShoppingCart"></fa-icon>
                        Order now</button>
                </div>
            </div>
        </div>
    </div>
</div>
