<app-header title="Product" subtitle="Manager Products in our store" btnlogout="logout" btnlogin="" button="" count="">
</app-header>
<main>
  <div class="container-fluid">
    <div class="row">

      <div  class="col-1"></div>

      <div class="col-10">
        <button class="btn btn-success" type="button" style="margin-bottom: 30px;">
          <a routerLink="/addProduct" class="text-white">
            <fa-icon [icon]="faPlus"></fa-icon>
            Add Product
          </a>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-1">

      </div>

      <div class="col-10">
        <table class="table">
          <thead>
            <tr class="table-success">
              <!-- <th scope="col">STT</th> -->
              <th scope="col">Product Name</th>
              <th scope="col">Price</th>
              <th scope="col">Amount</th>
              <th scope="col">Manufacturer</th>
              <th scope="col">Condition</th>
              <th scope="col">Group</th>
              <th scope="col">User</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of listProduct">
              <td>{{data.productName}}</td>
              <td>{{data.unitPrice}}$</td>
              <td>{{data.unitInStock}}</td>
              <td>{{data.manufacturer}}</td>
              <td>{{data.productCondition}}</td>
              <td>{{data.groupName}}</td>
              <td>{{data.userName}}</td>
              <td>
                <div class="col text-right">
                  <button class="btn btn-primary" type="button" style="margin-right: 1%;">
                    <fa-icon [icon]="faInfoCircle"></fa-icon>
                    Details
                  </button>
                  <button class="btn btn-danger" type="button">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                    Remove
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
